<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <tab id="bicicletasmilan" translate="label" sortOrder="1" class="bicicletasmilan-dev">
			<label>Bicicletas Milan</label>
		</tab>
		<section id="sample" translate="label" type="text" sortOrder="2000" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Sample Configuration</label>
			<tab>bicicletasmilan</tab>
			<resource>BicicletasMilan_BackendDev::config_sample</resource>
			<group id="demo" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Sample</label>
				<field id="header" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Header Title</label>
				</field>
				<field id="selectsample" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Sample Select</label>
					<source_model>BicicletasMilan\BackendDev\Model\Config\Source\DemoList</source_model>
				</field>
			</group>
		</section>
	</system>
</config>