<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">                    
                        <resource id="BicicletasMilan_BackendSlider::slider" title="Slider" sortOrder="10">
                            <resource id="BicicletasMilan_BackendSlider::slide" title="Slider Slide" sortOrder="10">
                                <resource id="BicicletasMilan_BackendSlider::slide_save" title="Save Slide" sortOrder="10" />
                                <resource id="BicicletasMilan_BackendSlider::slide_delete" title="Delete Slide" sortOrder="20" />
                            </resource>                            
                        </resource>                    
                </resource>
            </resource>
        </resources>
    </acl>
</config>    